# Local Docker services (default values used by docker-compose.yml)
POSTGRES_PASSWORD=postgres_password
PGUSER=postgres
PGHOST=postgres
PGDATABASE=postgres
PGPASSWORD=postgres_password
PGPORT=5432
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_TLS=false

# To connect the API and worker to Azure instead, replace the values above:
# PGHOST=<postgres-server>.postgres.database.azure.com
# PGPORT=5432
# PGUSER=appadmin
# PGPASSWORD=<postgres-password>
# PGDATABASE=postgres
# REDIS_HOST=<redis-name>.redis.cache.windows.net
# REDIS_PORT=6380
# REDIS_PASSWORD=<redis-primary-key>
# REDIS_TLS=true
